<!DOCTYPE html>
<html class="light" lang="en" th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${title}">SCM</title>
	<link rel="stylesheet" th:href="@{'/css/output.css'}">
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
	<!--Font Awsome-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="h-screen w-full dark:bg-gray-900 dark:text-white">
	<!--common header-->
    <div th:replace="navbar :: navbar">
	</div>
	<!-- main content -->
	<div class="p-4">
		<section th:replace="${content}"></section>
	</div>
	<section th:replace="${content}"></section>
	<!-- common footer-->
	<footer class="p-4">Footer: Manage your contacts efficiently and securely.</footer>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
	<script data-th-src="@{'/js/script.js'}"></script>
	<div th:replace="${script}"></div>
</body>

</html>