<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Service Page</title>

</head>

<body>
	<div id="content">
		<h1>Welcome to service page</h1>
		<h2>Services offered by scm 2</h2>
	</div>
	<script>
		console.log("This is service page");
	</script>
</body>


</html>











































































































</html>